@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*, *::before, *::after{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

ul[role='list'], ol[role='list']{
  list-style: none;
}

html:focus-within{
  scroll-behavior: smooth;
}

a:not([class]){
  text-decoration-skip-ink: auto;
}

img, picture, svg, video, canvas{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input, button, textarea, select{
  font: inherit;
}

@media (prefers-reduced-motion: reduce){
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    transition: none;

  }
}

*, *::before, *::after{
  box-sizing: border-box !important;
}

body, html{
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

::-webkit-scrollbar{
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

a{
  display: inline-block;
}

p{
  display: block;
}

svg{
  display: inline-block;
}

@keyframes drawRect {
  from{
    stroke-dashoffset: 400; /* Start drawing the path from the top left corner */
  }
  to {
    stroke-dashoffset: 0; /* Draw the path completely */
  }
}

#animatedRect {
  stroke-dasharray: 400; /* Total length of the path */
  stroke-dashoffset: 400; /* Start with the path hidden */
  animation: drawRect 1s cubic-bezier(.73,.2,.29,.97) forwards; /* Adjust duration and timing function */
  animation-delay: 2s; /* Add delay before animation starts */
}

.descriptionItem{
  margin-bottom: 8px;
}


